@font-face {
    font-family: 'FRACTAL';
    src: url('fonts/FRACTAL.eot');
    src: url('fonts/FRACTAL.eot?#iefix') format('embedded-opentype'),
        url('fonts/FRACTAL.woff2') format('woff2'),
        url('fonts/FRACTAL.woff') format('woff'),
        url('fonts/FRACTAL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
