@import 'libs/bootstrap-reboot.min';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/flex';
@import 'base/variables';
@import 'blocks/btns';
@import 'blocks/container';
@import 'blocks/divider';
@import 'blocks/title';
@import 'blocks/hero';
@import 'blocks/socials';
@import 'blocks/aboutme';

*,
h1,
h2,
h3,
p,
a,
a::after,
a::before,
a:hover,
a:focus {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
}
