.aboutme {
    font-size: 14px;
    line-height: 21px;
    padding-top: 6em;
    &--wrapper {
        @include flex;
        gap: 1rem;
        justify-content: space-between;
    }
    &--img {
        display: block;
        max-height: 600px;
        max-width: 400px;
    }
    &--text {
        width: 100%;
        padding: 0 1em;
    }
    &--title {
        margin-top: 7px;
        padding-left: 0.5rem;
        position: relative;

        &:before {
            @include before_circle;
            top: -47%;
            left: 0;
        }
    }
    &--subtitle-big {
        margin-top: 0.5em;
    }

    &--descr {
        margin-top: 0.5em;
        font-size: 13px;
        line-height: 18px;
    }
    &--tech-wrapper {
        @include flex;
        flex-flow: row wrap;
        margin-top: 2em;
        padding-left: 1em;
        gap: 1rem;
    }
    &--tech {
        @include flex;
    }
    &--techblock {
        width: 200px;
    }
    &--icon {
        display: block;
        padding: 1.25em 1em 0 0;
    }
    .divider {
        margin: 0.8rem 0;
    }
}
.before-wrapper::before {
    @include before_circle;
    top: 0;
    left: -30%;
}

.before-wrapper {
    position: relative;
    &-small img {
        width: 40px;
    }
    &-small:before {
        left: -40%;
    }
}
