.btn {
    display: block;
    max-width: 180px;
    height: 45px;
    padding: 0.5em 0.8em;
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    color: $text-color-main;
    background-color: $main-color;
    transition: all 150ms ease-in-out;
    &:hover {
        color: $text-color-main;
        transform: scale(1.125);
        padding: 0.6em 1.2em;
        letter-spacing: 0.03rem;
        box-shadow: 4px -4px 0 rgba(255, 255, 255, 0.25);
    }
    &:focus {
        outline: none;
    }
}
