.experience {
    margin-top: 100px;
    &--column-title {
        text-align: left;
    }
    &--before-circle {
        margin: 0;
        position: relative;
        text-align: left;
        &:before {
            @include before_circle;
            left: -56px;
            top: -14px;
        }
    }
    &--subheader {
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
    }
    &--icon {
        width: 25px;
        height: 25px;
    }
    &--grid-wrapper {
        padding: 0 65px;
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, minmax(320px, 425px));
        column-gap: 135px;
    }
    &--item {
        position: relative;
        &:before {
            content: '';
            width: 43px;
            height: 1px;
            top: 46.5px;
            left: -43px;
            position: absolute;
            background-color: black;
        }
        &-header {
            display: flex;
            gap: 16px;
            padding-left: 15px;
            padding-top: 45px;
        }
    }

    &--column {
        width: 100%;
        &-title {
            position: relative;
            padding-left: 35px;
            &::before {
                content: '';
                width: 14px;
                height: 14px;
                left: -15px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 100%;
                position: absolute;
                background-color: $main-color;
            }
        }
    }

    ul {
        padding-left: 35px;
        list-style: none;
        li {
            position: relative;
            &:after {
                content: '';
                width: 1px;
                height: calc(100% + 4px);
                left: -43.6px;
                top: -8px;
                position: absolute;
                background-color: black;
            }
        }
    }
}
