.hero {
    position: relative;
    height: 100vh;
    color: $text-color-alt;
    min-height: 100vh;
    padding-top: 14rem;
    background: url('../img/main_bg.jpg') fixed center/cover no-repeat;
    &--wrapper {
        max-width: 770px;
        width: 55%;
        padding-left: 0.45em;
    }
    &--descr {
        width: 50%;
        margin: 1.5em 0 2.5em;
    }
    &--btns {
        max-width: 310px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
        align-items: center;
        margin-top: 1.4em;
        letter-spacing: 0.08rem;
    }
    &--link {
        opacity: 0.45;
        font-size: 0.9rem;
        transition: all 0.5s ease;
        &:hover {
            opacity: 0.8;
            transform: scale(1.125);
            letter-spacing: 0.1rem;
        }
    }
    &--title {
        margin: 0.25em 0;
        padding-left: 0.12em;
        position: relative;
        z-index: 1;
        &::before {
            @include before_circle;
            width: 4rem;
            height: 4rem;
            left: 0;
            top: -0.55rem;
        }
    }
}
