@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  .hamburger {
    right: auto;
    left: 35px;
    transform: rotate(180deg);
  }
  .aboutme {
    font-weight: 500;
    &--tech-wrapper {
      gap: 1em;
    }
    &--techblock {
      width: 100%;
      font-size: 12px;
    }
  }
  .experience {
    &--textWrapper {
      column-gap: 65px;
      grid-template-columns: repeat(2 1fr);
      padding: 0 10px;
    }
    &--column-title {
      &::before {
        width: 15px;
        height: 15px;
        left: -16px;
      }
    }
  }
  .skills {
    &--line {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .line {
    &--head {
      width: 95%;
    }
  }
  .portfolio {
    &--img {
      position: relative;
    }
    &--grid {
      grid-template-columns: repeat(auto-fit, 280px);
      grid-auto-rows: 280px;
      row-gap: 35px;
      justify-content: space-around;
      .portfolio--link.horizontal,
      .vertical {
        grid-column: unset;
        grid-row: unset;
      }
    }
  }
  .socials {
    right: 0;
  }
  .pricing {
    &--grid {
      gap: 10%;
    }
  }
  .contacts {
    &--content {
      width: 65%;
    }
    &--form {
      grid-template: repeat(2, 45px) 1fr 58px / 1fr;
    }
    &--form &--input:nth-child(2) {
      grid-column: 1;
      grid-row: 2 / 3;
    }
    &--text {
      grid-column: 1;
    }
    &--policy {
      margin-top: 5px;
      grid-column: 1;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 920px;
  }
  .experience {
    &--grid-wrapper {
      padding: 0;
      gap: 60px;
    }
    &--descr {
      width: 90%;
    }
  }
  .skills {
    &--grid {
      grid-template-columns: repeat(3, 1fr);
    }
    &--line {
      grid-template-columns: repeat(2, 1fr);
    }
    &--item:last-child {
      // width: 250px;
      text-align: center;
      grid-column: 2;
    }
    .line {
      &--item,
      &--progress {
        width: 300px;
      }
    }
  }
  .portfolio {
    &--grid {
      justify-content: center;
      gap: 55px;
    }
    &--img {
      transition: none;
      filter: none;
      &:hover {
        transform: none;
        filter: none;
      }
    }
  }
  .pricing {
    &--grid {
      grid-template-columns: repeat(auto-fit);
      gap: 0;
    }
    &--list {
      width: 70%;
      margin-top: 0;
    }
    &--item {
      margin-top: 20px;
    }
  }
  .contacts {
    &--grid {
      grid-template-columns: 265px 500px;
    }
    &--content {
      width: 315px;
      padding-right: 20px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
    padding: 0;
  }
  .hero {
    &--wrapper {
      width: 70%;
    }
    &--title {
      line-height: 1.2em;
    }
    &--link {
      opacity: 1;
    }
  }
  .aboutme {
    padding-top: 4em;
    &--wrapper {
      display: block;
    }
    &--text {
      margin-top: 1em;
      padding: 0;
      width: 80%;
    }
  }
  .experience {
    margin-top: 56px;
    font-weight: 500;
    &--column {
      &-title::before {
        display: none;
      }
    }
    &--item:before {
      display: none;
    }
    ul {
      li::after {
        display: none;
      }
    }
    &--subtitle {
      font-size: 1.5rem;
    }
    &--column + &--column {
      margin-top: 25px;
    }
    &--grid-wrapper {
      margin-top: 40px;
      row-gap: 30px;
      grid-template-columns: 1fr;
      padding: 0 10px;
    }
    &--descr {
      font-size: 14px;
    }
  }
  .divider {
    margin-top: 35px;
  }
  .skills {
    margin-top: 56px;
    &--subtitle {
      font-size: 1.5rem;
    }
    &--grid {
      margin-top: 35px;
      grid-template-columns: repeat(2, 1fr);
    }
    &--item:nth-child(7),
    &--item:nth-child(8) {
      text-align: center;
      grid-column: 1 / 3;
    }
    &--line {
      margin-top: 56px;
    }
    .line {
      &--item,
      &--progress {
        width: 100%;
      }
    }
  }
  .portfolio {
    margin-top: 56px;
    &--grid {
      gap: 30px;
    }
  }
  .pricing {
    &--grid {
      column-gap: 0%;
    }
    &--list {
      width: 80%;
    }
  }
  .contacts {
    margin-top: 56px;
    &--grid {
      padding: 0;
      grid-template-columns: 1fr;
    }
    &--photo {
      display: none;
    }
    &--content {
      width: 100%;
      padding: 0;
    }
  }
  aside.socials {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .hamburger {
    left: auto;
    right: 20px;
    transform: none;
  }
  .menu {
    &--block {
      width: 250px;
      padding-left: 4em;
    }
  }

  .hero {
    padding-top: 5em;
    background: url('../img/mobile/blacg-bg.jpg') center/cover no-repeat;
    &--wrapper {
      width: 95%;
    }
    &--title {
      font-size: 2rem;
      line-height: 2rem;
      &:before {
        width: 2.5rem;
        height: 2.5rem;
        left: 0;
        top: -10px;
      }
      &-small {
        font-size: 18px;
        margin-top: 0.7em;
      }
    }
    &--descr {
      width: 80%;
    }
  }
  .aboutme {
    &--tech-wrapper {
      margin: 0 auto;
      padding-top: 1.6rem;
    }
  }
  .experience {
    margin-top: 56px;
    &--icon-tablet {
      width: 35px;
      height: 35px;
    }
  }
  .skills {
    &--grid {
      padding: 0 10px;
      grid-template-columns: 1fr;
    }
    &--item:nth-child(7),
    &--item:nth-child(8) {
      text-align: left;
      grid-column: 1;
    }
    &--line {
      grid-template-columns: 1fr;
    }
  }

  .line {
    padding: 0 10px;
    &--progress,
    &--item {
      width: 100%;
    }
  }
  .pricing {
    &--grid {
      grid-template-columns: 1fr;
    }
  }
}
// .portfolio--link {
//   position: relative;
//   z-index: 0;
// }
.portfolio--grid {
  .inActive {
    pointer-events: none;
  }

  .portfolio--link {
    position: relative;
  }
}

.portfolio--link.inActive::after {
  content: 'In progress...';
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1;
  width: 140px;
  transform: translateY(-50%);
  transform: translateX(-50%);
  color: hsl(0, 0%, 13%);
  //   opacity: 0.9;
  font-size: 1.225rem;
  font-weight: 700;
}
