.skills {
    margin-top: 100px;
    &--grid {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, minmax(270px, auto));
        gap: 13px;
        & > :nth-child(4) .skills--icon,
        & > :last-child .skills--icon {
            max-width: 145px;
        }
    }
    &--subtitle {
        margin: 20px 0 15px;
    }
    &--item {
        padding: 30px;
        border: 1px solid black;
    }
    &--icon {
        max-width: 45px;
        max-height: 65px;
        &-medium {
            max-width: 65px;
        }
        &-big {
            max-width: 106px;
        }
        img {
            justify-self: flex-start;
        }
    }
    &--descr {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
    }
    &--line {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 70px);
        gap: 45px;
    }
}
.line {
    &--head {
        padding-left: 1rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        &:before {
            @include before_circle;
            top: -10px;
            left: 0px;
        }
    }
    &--value {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
    }
    &--progress {
        margin-top: 20px;
        width: 350px;
        height: 14px;
        border-radius: 4px;
        background: #e8e4de;
        position: relative;
        span {
            display: block;
            height: 14px;
            background: $main-color;
            border-radius: 4px;
        }
    }
}
