.skills {
    margin-top: 100px;
    &--grid {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, minmax(270px, auto));
        gap: 13px;
    }
    &--title {
        position: relative;
        &:before {
            @include before_circle;
            top: -50%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    &--subtitle {
        margin: 20px 0 15px;
    }
    &--item {
        padding: 30px;
        border: 1px solid black;
    }
    &--icon {
        max-width: 45px;
        max-height: 65px;
        &-medium {
            max-width: 65px;
        }
        &-big {
            max-width: 106px;
        }
        img {
            justify-self: flex-start;
        }
    }
    &--descr {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
    }
    &--line {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 70px);
        gap: 45px;
    }
}
.line {
    &--head {
        display: flex;
        justify-content: space-between;
    }
    &--value {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
    }
    &--bg {
        width: 350px;
        height: 14px;
        border-radius: 4px;
        background: #e8e4de;
        position: relative;
    }
    &--fill {
        height: 14px;
        background: $main-color;
        border-radius: 4px;
        position: relative;
        top: -14px;
    }
}
