.socials {
    padding-left: 0.5em;
    width: 2rem;
    height: 100%;
    max-height: 18rem;
    bottom: 2%;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    &--label {
        color: $text-color-alt;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
    &--divider {
        margin: 30px;
        transform: rotate(90deg);
    }
    & a:last-of-type {
        transform: rotate(-90deg);
    }
}
